.custHome{
    width: 100%;
    height: 650px;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin: 30px;
}
.custImg{
    background-image: url("../image/custHome1.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* position: absolute; */

}
.custHead{
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    /* padding-top: 120px; */
    width: 100%;
    height: 650px;
    border-radius: 10px;
}
.formIp{
    padding-left: 100px;
    padding-right: 100px;
}
/* .categoryTab,
tr,
td {
    border: 1px solid black;
    width: 50%;
    
    color: black;
} */

/* .tr {
    background-color: aquamarine;
} */

/* .prodTable,tr,td{
    border: 1px solid black;
    width: 50%;
    margin: 30px 200px;
    border-collapse: collapse;
    color: black;
} */
/* .prodTable,
tr,
td {
    margin: 30px;
    border-spacing: 0px;
} */